<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>A menu</title>
  </head>
  <body>
    {{range .}}
      <h1>{{.Name}}</h1>
        {{range .Menu}}
        <h2>{{.Name}}</h2>
          {{range .Items}}
            {{.Name}} - {{.Description}} - {{.Price}}
          {{end}}
        {{end}}
    {{end}}
  </body>
</html>
