<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>California Hotels</title>
  </head>
  <body>
    {{range .}}
      {{.Region}}
      {{range .Hotels}}
        {{.Name}} - {{.Address}} - {{.City}} - {{.Zip}} - {{.Region}}
      {{end}}
    {{end}}
  </body>
</html>
